@{
    ViewData["Title"] = "Profile";
}
@using CCMS.BLL.ModelVM.Patient;
@using CCMS.DAL.Entities
@model PatientDTO
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css" />
@section HeaderButtons {
    <!-- HOT HENA ENO YEGEB KOL EL DOCTORS WE YE5TAR BE EL DEPARTMENT WE KEDA -->
    <li><a href="@Url.Action("Index", "Home")#departments">Departments</a></li>
    <li><a href="#doctors">Doctors</a></li>
    <li><a href="#footer">Contact</a></li>
    <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
}

<!-- Profile 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">

    <div class="container">
        <div class="row gy-4 gy-lg-0">
            <div class="col-12 col-lg-4 col-xl-3">
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="card widget-card border-light shadow-sm">
                            <div class="card-header text-bg-primary">Welcome, Ethan Leo</div>
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <!-- PUT PATIENT PICTURE -->
                                    <img src="./assets/img/profile-img-1.jpg" class="img-fluid rounded-circle" alt="Luna John">
                                </div>
                                @* change to the name of the patient *@
                                <h5 class="text-center mb-1">@Model.GetFullName()</h5>

                                <p class="text-center text-secondary mb-4">patient</p>

                                <div class="d-grid m-0">
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="card widget-card border-light shadow-sm">
                    <div class="card-body p-4">
                        <ul class="nav nav-tabs" id="profileTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="book-appointment-tab" data-bs-toggle="tab" data-bs-target="#book-appointment-tab-pane" type="button" role="tab" aria-controls="book-appointment-tab-pane" aria-selected="false">Book Appointment</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments-tab-pane" type="button" role="tab" aria-controls="appointments-tab-pane" aria-selected="false">Appointments</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="additional-info-tab" data-bs-toggle="tab" data-bs-target="#additional-info-tab-pane" type="button" role="tab" aria-controls="additional-info-tab-pane" aria-selected="false">Additional Info</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Change Password</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-4" id="profileTabContent">
                            <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                <form action="#!" class="row gy-3 gy-xxl-4">
                                    <div class="col-12">
                                        <div class="row gy-2">
                                            <label class="col-12 form-label m-0">Profile Image</label>
                                            <div class="col-12">
                                                <!-- ADD PATIENT PICTURE -->
                                                <img src="./assets/img/profile-img-1.jpg" class="img-fluid" alt="Luna John">
                                            </div>
                                            <div class="col-12">
                                                <a href="#!" class="d-inline-block bg-primary link-light lh-1 p-2 rounded">
                                                    <i class="bi bi-upload"></i>
                                                </a>
                                                <a href="#!" class="d-inline-block bg-danger link-light lh-1 p-2 rounded">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input asp-for="UID" type="hidden" class="form-control" id="UID" value="@Model.UID">
                                        <label for="inputFirstName" class="form-label">First Name</label>
                                        <input asp-for="FName" type="text" class="form-control" id="inputFirstName" value="@Model.FName">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="inputLastName" class="form-label">Last Name</label>
                                        <input asp-for="LName" type="text" class="form-control" id="inputLastName" value="@Model.LName">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        
                                        <label for="inputbloodtype" class="form-label">Blood Type</label>
                                        <select asp-for="BloodType" class="form-select" id="inputbloodtype" name="bloodtype" value="@Model.BloodType">
                                            <option value="A_NEG">A-</option>
                                            <option value="A_POS">A+</option>
                                            <option value="B_NEG">B-</option>
                                            <option value="B_POS">B+</option>
                                            <option value="O_NEG">O-</option>
                                            <option value="O_POS">O+</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="inputSSN" class="form-label">SSN</label>
                                        <input asp-for="Ssn" type="text" class="form-control" id="inputSkills" value="@Model.Ssn">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="inputGender" class="form-label">Gender</label>
                                        <select asp-for="Gender" class="form-select" id="inputGender" name="gender" value="@Model.Gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="inputBirthdate" class="form-label">Birthdate</label>
                                        <input asp-for="BirthDate" type="date" class="form-control" id="inputBirthdate" name="birthdate" value="@Model.BirthDate">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="inputPhone" class="form-label">Phone</label>
                                        <input asp-for="PhoneNumbers" type="tel" class="form-control" id="inputPhone" value="@Model.PhoneNumbers.FirstOrDefault()">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <!-- NO EMAIL LESA -->
                                        <label for="inputEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="inputEmail" value="leo@example.com">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="inputAddress" class="form-label">Address</label>
                                        <input asp-for="Addresses" type="text" class="form-control" id="inputAddress" value="@Model.Addresses.FirstOrDefault()">
                                    </div>
                                    
                                    
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary" asp-controller="Patient" asp-action="EditPatientProfile" asp-route="@Model">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="book-appointment-tab-pane" role="tabpanel" aria-labelledby="book-appointment-tab" tabindex="0">
                                <h5>Book Appointment</h5>
                                <form id="bookAppointmentForm" class="row gy-3">
                                    <div class="col-12 col-md-6">
                                        <label for="selectSpecialty" class="form-label">Select Specialty</label>
                                        <select class="form-select" id="selectSpecialty">
                                            <option value="">Choose...</option>
                                            <option value="Cardiology">Cardiology</option>
                                            <option value="Dermatology">Dermatology</option>
                                            <option value="Neurology">Neurology</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="selectDoctor" class="form-label">Select Doctor</label>
                                        <select class="form-select" id="selectDoctor">
                                            <option value="">Choose...</option>
                                            <option value="Dr. Smith">Dr. Smith</option>
                                            <option value="Dr. Jones">Dr. Jones</option>
                                            <option value="Dr. Lee">Dr. Lee</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="selectTime" class="form-label">Select Time</label>
                                        <select class="form-select" id="selectTime">
                                            <option value="">Choose...</option>
                                            <option value="09:00">09:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="14:00">14:00</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="selectRoom" class="form-label">Select Room</label>
                                        <select class="form-select" id="selectRoom">
                                            <option value="">Choose...</option>
                                            <option value="101">101</option>
                                            <option value="202">202</option>
                                            <option value="303">303</option>
                                        </select>
                                    </div>
                                    <div class="col-12" id="priceSection" @* style="display:none;" *@>
                                        <p class="fw-bold">Price: $80</p>
                                        <button type="submit" class="btn btn-primary">Book</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="appointments-tab-pane" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
                                <h5>Appointments</h5>
                                <table id="appointmentsTable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Price</th>
                                            <th>Date</th>
                                            <th>Prescription</th>
                                            <th>Doctor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach(var item in ViewBag.Appointment as List<Book>)
                                            {
                                                <tr>
                                                    <td>@item.Price</td>
                                                    <td>@item.BookDate</td>
                                                    <td>@item.Prescription</td>
                                                    <td>@item.Doctor.GetFullName()</td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="additional-info-tab-pane" role="tabpanel" aria-labelledby="additional-info-tab" tabindex="0">
                                <h5>Family Members</h5>
                                
                                <table id="familyMembersTable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>SSN</th>
                                            <th>Phone</th>
                                            <th>Gender</th>
                                            <th>Relationship</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.FamilyMembers as List<FamilyMember>)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Ssn</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.Gender</td>
                                                <!-- ZABAT EL RELATION SHIPS HENA MESH NAME-->
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <button class="btn btn-primary mb-2">Add a Family Member</button>
                                <h5 class="mt-4">Medical History</h5>
                                
                                <table id="medicalHistoryTable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Is Acceptable</th>
                                            <th>Disease Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Yes</td><td>Diabetes</td></tr>
                                        <tr><td>No</td><td>Asthma</td></tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary mb-2">Add a Medical Record</button>
                                <h5 class="mt-4">Scans</h5>
                                <table id="scansTable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Scan Type</th>
                                            <th>Scan Tech</th>
                                            <th>Results</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>X-Ray</td><td>Dr. Smith</td><td><a href="#" class="btn btn-success btn-sm">Download</a></td></tr>
                                        <tr><td>MRI</td><td>Dr. Jones</td><td>Not done yet</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
                                <form action="#!">
                                    <div class="row gy-3 gy-xxl-4">
                                        <div class="col-12">
                                            <label for="currentPassword" class="form-label">Current Password</label>
                                            <input type="password" class="form-control" id="currentPassword">
                                        </div>
                                        <div class="col-12">
                                            <label for="newPassword" class="form-label">New Password</label>
                                            <input type="password" class="form-control" id="newPassword">
                                        </div>
                                        <div class="col-12">
                                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                                            <input type="password" class="form-control" id="confirmPassword">
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let familyTable = new DataTable('#familyMembersTable', { responsive: true });
        let historyTable = new DataTable('#medicalHistoryTable', { responsive: true });
        let scansTable = new DataTable('#scansTable', { responsive: true });
        let appointmentsTable = new DataTable('#appointmentsTable', { responsive: true });
        // Book Appointment form logic
        function checkBookFields() {
            var specialty = document.getElementById('selectSpecialty').value;
            var doctor = document.getElementById('selectDoctor').value;
            var time = document.getElementById('selectTime').value;
            var room = document.getElementById('selectRoom').value;
            var priceSection = document.getElementById('priceSection');
            if (specialty && doctor && time && room) {
                priceSection.style.display = '';
            } else {
                priceSection.style.display = 'none';
            }
        }
        document.getElementById('selectSpecialty').addEventListener('change', checkBookFields);
        document.getElementById('selectDoctor').addEventListener('change', checkBookFields);
        document.getElementById('selectTime').addEventListener('change', checkBookFields);
        document.getElementById('selectRoom').addEventListener('change', checkBookFields);
    });
</script>